body{
	width: 60%;
	margin: 20%;

}
.container{

	background-color: lightgreen;
	padding: 12px;
	border: 4px solid blue;
}

.item{

	background-color: peachpuff;
	border: 4px solid salmon;
	height: 48px;
	flex: 1;
	margin: 4px;
}

.item-B{

	background-color: lightgray;
	border: 4px solid #8657d9;
	height: 48px;
	flex: 1;
	margin: 4px;
}

.item-C{

	background-color: peachpuff;
	border: 4px solid salmon;
	height: 48px;
	width: 15%;
	margin: 4px;
}

.container-B{

	background-color: lightblue;
	padding: 12px;
	border: 4px solid blue;
	display: flex;
}

.item-child{
	background-color: lightpink;
	border: 4px solid red;
	border-collapse: collapse;
	width: 50%;
	height: 35px;
	margin: 2px 0px 1px 0px;
}

.item.flex{

	display: flex;
	padding: 0px 3px;
    box-sizing: content-box;
}

.container-A{

	background-color: aqua;
	padding: 12px;
	border: 4px solid blue;
	display: flex;
}

div.flex-container{
	margin: 10px 0px 10px 0px;
	display: flex;
}

.item-child-light-red{

	background-color: lightpink;
    border: 4px solid darkred;
	border-collapse: collapse;
	width: 50%;
	height: 200px;
	margin: 2px 0px 1px 0px;
}

.flex-wrap{

/*	flex-wrap: wrap;*/
	display: inline-block;
	margin-left: 10px;
	width: 50%;

}

.item-child2-light-red{

	background-color: lightpink;
    border: 4px solid darkred;
	border-collapse: collapse;
    height: 44%;
	margin: 2px 0px 1px 0px;
}

.item-child2-light-red.space{

	margin-top: 5px;
}